html{
    background-color: #CEE5D0;
    text-align: center;
}
img{
    margin-top: 70px;
    border-radius: 50%;
}
h1{
    color: #191A19;
}
.heading-text{
    color: #1E5128;
    font-size: 50px;
    margin-bottom: 0px;
}
h2{
    font-style: italic;
    margin-top: 20px;
}
hr{
    border-top: 10px dotted;
    width: 13%;
    color: rgb(81, 116, 81);
    margin-top: 70px;
    margin-bottom: 70px;
}
.section-header{
    font-size: 40px;
    color: #32502E;
}
p{
    margin-right: 20%;
    margin-left: 20%;
    font-size: 18px;
}
.skill-rating{
    display: inline;
}
.skill-name{
    display: inline;
    margin-right: 30px;
}
.skill{
    margin-bottom: 20px;
}